<!DOCTYPE html>
<html>
<head>
  <title>View Inspector</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "snapshot_inspector/application", media: "all" %>
  <%= snapshot_inspector_importmap_tags %>
  <%= javascript_import_module_tag "snapshot_inspector/application" %>
  <% if defined?(Hotwire::Livereload::DISABLE_FILE) && !File.exist?(Rails.root.join(Hotwire::Livereload::DISABLE_FILE)) %>
    <%= hotwire_livereload_tags %>
  <% end %>
</head>
<body id="<%= "#{controller_name}_#{action_name}" %>">
  <%= yield %>
</body>
</html>
