<!DOCTYPE html>
<html>
<head>
  <title>View Inspector</title>
  <meta name="viewport" content="width=device-width"/>
  <style type="text/css">
    html, body, iframe {
      height: 100%;
    }

    body {
      margin: 0;
    }

    header {
      width: 100%;
      padding: 10px 0 0 0;
      margin: 0;
      background: white;
      font: 12px "Lucida Grande", sans-serif;
      border-bottom: 1px solid #dedede;
      overflow: hidden;
    }

    dl {
      margin: 0 0 10px 0;
      padding: 0;
    }

    dt {
      width: 80px;
      padding: 1px;
      float: left;
      clear: left;
      text-align: right;
      color: #7f7f7f;
    }

    dd {
      margin-left: 90px; /* 80px + 10px */
      padding: 1px;
    }

    dd:empty:before {
      content: "\00a0";
    / / & nbsp;
    }

    iframe {
      border: 0;
      width: 100%;
    }
  </style>
</head>

<body>
<header>
  <dl>
    <% if @snapshot.snapshotee_recording.message.respond_to?(:smtp_envelope_from) && Array(@snapshot.snapshotee_recording.message.from) != Array(@snapshot.snapshotee_recording.message.smtp_envelope_from) %>
      <dt>SMTP-From:</dt>
      <dd id="smtp_from"><%= @snapshot.snapshotee_recording.message.smtp_envelope_from %></dd>
    <% end %>

    <% if @snapshot.snapshotee_recording.message.respond_to?(:smtp_envelope_to) && @snapshot.snapshotee_recording.message.to != @snapshot.snapshotee_recording.message.smtp_envelope_to %>
      <dt>SMTP-To:</dt>
      <dd id="smtp_to"><%= @snapshot.snapshotee_recording.message.smtp_envelope_to %></dd>
    <% end %>

    <dt>From:</dt>
    <dd id="from"><%= @snapshot.snapshotee_recording.message.header['from'] %></dd>

    <% if @snapshot.snapshotee_recording.message.reply_to %>
      <dt>Reply-To:</dt>
      <dd id="reply_to"><%= @snapshot.snapshotee_recording.message.header['reply-to'] %></dd>
    <% end %>

    <dt>To:</dt>
    <dd id="to"><%= @snapshot.snapshotee_recording.message.header['to'] %></dd>

    <% if @snapshot.snapshotee_recording.message.cc %>
      <dt>CC:</dt>
      <dd id="cc"><%= @snapshot.snapshotee_recording.message.header['cc'] %></dd>
    <% end %>

    <% if @snapshot.snapshotee_recording.message.bcc %>
      <dt>BCC:</dt>
      <dd id="bcc"><%= @snapshot.snapshotee_recording.message.header['bcc'] %></dd>
    <% end %>

    <dt>Date:</dt>
    <dd id="date"><%= Time.current.rfc2822 %></dd>

    <dt>Subject:</dt>
    <dd><strong id="subject"><%= @snapshot.snapshotee_recording.message.subject %></strong></dd>

    <% unless @snapshot.snapshotee_recording.message.attachments.nil? || @snapshot.snapshotee_recording.message.attachments.empty? %>
      <dt>Attachments:</dt>
      <dd>
        <% @snapshot.snapshotee_recording.message.attachments.each do |a| %>
          <% filename = a.respond_to?(:original_filename) ? a.original_filename : a.filename %>
          <%= link_to filename, "data:application/octet-stream;charset=utf-8;base64,#{Base64.encode64(a.body.to_s)}", download: filename %>
        <% end %>
      </dd>
    <% end %>

    <dt>Format:</dt>
    <% if @snapshot.snapshotee_recording.message.html_part && @snapshot.snapshotee_recording.message.text_part %>
      <dd>
        <select>
          <option value="html">View as HTML email</option>
          <option value="plain">View as plain-text email</option>
        </select>
      </dd>
    <% elsif @snapshot.snapshotee_recording.message.part.any? { |part| part.mime_type == "text/plain" && part.filename.blank? } %>
      <dd id="mime_type" data-mime-type="">plain-text email</dd>
    <% elsif @snapshot.snapshotee_recording.message.part.any? { |part| part.mime_type == "text/html" && part.filename.blank? } %>
      <dd id="mime_type" data-mime-type="">HTML email</dd>
    <% else %>
      <dd id="mime_type" data-mime-type=""></dd>
    <% end %>

    <dt>EML File:</dt>
    <dd><%= link_to "Download", "#" %></dd>
  </dl>
</header>

<% if @snapshot.snapshotee_recording.message.body %>
  <iframe id="body" src="<%= raw_snapshot_path(snapshot.slug) %>"></iframe>
<% else %>
  <p>
    You are trying to inspect an email that does not have any content.
  </p>
<% end %>

</body>
</html>
