<h1>Snapshots</h1>

<% @grouped_by_test_class.each do |test_class, snapshots| %>
  <h2><%= test_class %></h2>

  <ul>
    <% snapshots.each do |snapshot| %>
      <li>
        <%= link_to snapshot_path(snapshot[:slug]) do %>
          <%= snapshot[:test_case_human_name] %>
          <%= if snapshot[:slug][-1].to_i > 0 then "(#{(snapshot[:slug][-1].to_i + 1).ordinalize} snapshot in the same test case)" end %>
        <% end %>
        <br>
        <span data-label="snapshot.source_location"><%= snapshot[:source_location].join(":") %></span>
      </li>
    <% end %>
  </ul>
<% end %>
